/* Laptop and computer Screens */
@media screen and (min-width: 769px){
    .footer {
        display: flex;
        flex-direction: row;
        height: 50px;
        background-color: #1F2937;
        justify-content: space-between;
        align-items: center;
    }
    .footer-link {
        font-size: 12px;
        padding-right: 10px;
        font-family: 'Oswald', sans-serif;
        font-weight: normal;
        text-decoration: none;
        color: aqua;
        padding-right: 10px;
    }
    .footer-copyright {
        font-family: 'Oswald', sans-serif;
        font-size: 14px;
        color: white;
        padding-left: 10px;
    }
}
/* Phone Screens */
@media only screen and (max-width: 480px) {

}
/* Tablet Screens */
@media screen and (max-width: 768px) {

}