<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meli Fleet</title>
    <link rel="icon" href="images/company-logo2.png">
    <link rel="stylesheet" href="styles/general.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/content1.css">
    <link rel="stylesheet" href="styles/content2.css">
    <link rel="stylesheet" href="styles/content3.css">
    <link rel="stylesheet" href="styles/content4.css">
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Code for the header section of the page -->
    <div class="header">
        <div class="header-logo">
            <img class="ffms-logo" src="images/company-logo6.png" alt="FFMS-logo">
        </div>
        <div class="header-text">
            <p>Meli Fleet Management</p>
        </div>
        <div class="header-links">
            <a class="header-link" href="pages/myfleet.html" target="_blank">My Fleet <span class="separator">  </span></a>
            <a class="header-link" href="pages/fuelmanage.html" target="_blank">Fuel Management <span class="separator">  </span></a>
            <a class="header-link" href="pages/telematics.html" target="_blank">Fleet Telematics</a>
        </div>
    </div>
    
    <!-- Code for the content sections within the page -->
    <div class="content-flex">
        <div class="content1">
            <div class="system-description">
                <p class="system-title">Meli Fleet Management System</p>
                <p class="system-notes">Meli Fleet Management System
                    is the world's premier end-to-end IoT-powered solution
                    that aims to provide you the power to manage
                    your fleet effectively and efficiently from anywhere in the world. <br>
                </p>
                <p class="system-action-call">Sign up today!</p>
                <a href="pages/signup.html" target="_blank" rel="noopener"><button class="action-call-button">Sign Up</button></a>
            </div>
            <div class="system-image">
                <img class="welcome-image" src="images/ffms-fleet.jpg" alt="mfms-fleet">
            </div>
        </div>
        <div class="content2">
            <div class="content2-header">
                <p class="c2-header">Why Choose Meli?</p>
            </div>
            <div class="content2-boxes">
                <div class="c2-box1">
                    <div class="box-image-container">
                        <img class="box-image" src="images/ffms-fuel.jpg" alt="fuel">
                    </div>
                    <div class="box-content-container">
                        <p class="box-content-header">Fleet Fuel Management</p>
                        <p class="box-content-body">
                            Meli offers world-class fleet fuel management for 
                            your fleet of any size
                        </p>
                    </div>
                </div>
                <div class="c2-box2">
                    <div class="box-image-container">
                        <img class="box-image" src="images/ffms-maintenance.jpg" alt="fuel">
                    </div>
                    <div class="box-content-container">
                        <p class="box-content-header">Fleet Maintenance Management</p>
                        <p class="box-content-body">
                            Meli provides you a platform to monitor and manage fleet
                            maintenance activities
                        </p>
                    </div>
                </div>
                <div class="c2-box3">
                    <div class="box-image-container">
                        <img class="box-image" src="images/ffms-gps.jpg" alt="fuel">
                    </div>
                    <div class="box-content-container">
                        <p class="box-content-header">Fleet GPS Tracking</p>
                        <p class="box-content-body">
                            Through the global GPS network, Meli allows you to
                            keep track of the location of your fleet assets
                            from the comfort of your office or home.
                        </p>
                    </div>
                </div>
                <div class="c2-box4">
                    <div class="box-image-container">
                        <img class="box-image" src="images/ffms-track.jpg" alt="fuel">
                    </div>
                    <div class="box-content-container">
                        <p class="box-content-header">Fleet Costs Tracking</p>
                        <p class="box-content-body">
                            Meli allows you to keep track of your costs. And  through 
                            our proprietary <span class="AI"> Meli AI </span>system, you can draw insights into how
                            your fleet is performing financially.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content3">
            <div class="quote-container">
                <p class="quote">
                    The Journey of a million miles begins with 
                    a well-maintained and reliable fleet 
                </p>
                <p class="quote-author">
                    ~ Adam Keino <br>
                    <span class="disclaimer"><em>With inspiration from Lao Tzu</em></span>
                </p>
            </div>
        </div>
        <div class="content4">
            <div class="contactus">
                <div class="contactus-text-container">
                    <p class="contactus-header">Reach out to us! Let's get moving!</p>
                    <p class="contactus-body">
                        For any inquiries, please feel free to contact 
                        us by hitting that button! <br>
                        We look forward to hearing from you!
                    </p>
                </div>
                <div class="contactus-button-container">
                    <a href="pages/contactus.html" target="_blank" rel="noopener"><button class="contactus-button">Contact Us</button></a>
                </div>
            </div>
            <div class="contacts-section">
                <div class="phone-contact">
                    <img class="phone-icon" src="images/phone-black.png" alt="phone">
                    <p class="phone-number">+254700123456</p>
                </div>
                <div class="email-contact">
                    <img class="email-icon" src="images/email-black.png" alt="email">
                    <p class="email-address">keinoadamdev@gmail.com</p>
                </div>
                <div class="social-links">
                    <div>
                        <a href="https://www.linkedin.com/in/adam-keino-sengineer/" target="_blank" rel="noopener"><img class="linkedin-icon" src="images/linkedin-black.png" alt="linkedin"></a>
                    </div>
                    <div>
                        <a href="https://twitter.com/melifleet" target="_blank" rel="noopener"><img class="twitter-icon" src="images/twitter-black.png" alt="twitter"></a>
                    </div>
                    <div>
                        <a href="https://www.instagram.com/melifleet/" target="_blank" rel="noopener"><img class="instagram-icon" src="images/instagram-black.png" alt="instagram"></a>
                    </div>
        
                </div>
            </div>
        </div>
    </div>
    <!-- Scroll to top button -->
    <button onclick="topFunction()" id="myBtn" title="Go to top"><img class="top-icon" src="images/scroll-top.png" alt="to top image"></button>
    <!-- Code for the footer section with the disclaimers -->
    <div class="footer">
        <div class="copyright">
            <p class=footer-copyright>&#169; All Rights Reserved &#183; Adam Keino</p>
        </div>
        <div class="legal-links">
            <a class="footer-link" href="legaldocs/privacypolicy.html" target="_blank">Privacy Policy</a>
            <a class="footer-link" href="legaldocs/terms.html" target="_blank">Terms and Conditions</a>
            <a class="footer-link" href="legaldocs/gdpr.html" target="_blank">GDPR Compliance</a>
            <a class="footer-link" href="legaldocs/cookies.html" target="_blank">Cookies</a>
            <a class="footer-link" href="legaldocs/staffmail.html" target="_blank">Staff Mail</a>
        </div>
    </div>
    <!-- Scripts -->
    <!-- To top button script -->
    <script type="text/javascript" src="scripts/scroll-to-top.js"></script>
</body>
</html>